<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h3>Make a call</h3>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h3>Tap the notification</h3>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h3>Get the suggestions</h3>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">How it works</span></h2>
    <p class="lead">In the background SummApp works hard to process your call into a neat collection of suggested actions that you can view, edit, and share.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="{{site.url}}/assets/hand-dribbble2x.png" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 push-md-5">
    <h2 class="featurette-heading">The intelligence behind</span></h2>
    <p class="lead">After the call ends, our app notifies users about key information in their call. For now, we believe these are events, addresses, contacts, and dates; however, we will strive to add new features as the app grows.</p>
  </div>
  <div class="col-md-5 pull-md-7">
    <img class="featurette-image img-fluid mx-auto" src="{{site.url}}/assets/answer.png" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Call history</span></h2>
    <p class="lead">Get back to your call history anytime you want.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="{{site.url}}/assets/answer.png" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Easy to use</h2>
    <p>Really!</p>
    <p><a class="btn btn-secondary" href="#" role="button">Find out more &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Super cool</h2>
    <p>Just really cool...</p>
    <p><a class="btn btn-secondary" href="#" role="button">More cool stuff &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Free</h2>
    <p>For real!</p>
    <p><a class="btn btn-secondary" href="#" role="button">Download &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
